*.xmsgs
*.html
*.xise
*.gise
*.xreport
*.projectmgr
*.xst
*.prj
*.vho
*.ref
Procesador/InstructionMemory.stx
*.lso
*.c
*.stx
*.log
*.cmd
*.didat
*.dat
Procesador/isim/pn_info
*.ini
*.wdb
*.exe
*.vdb
*.obj
*.dll
*.dbg
Procesador/isim/TB_Alu_isim_beh.exe.sim/tmp_save/_1
Procesador/TB_Alu.vhd